.tabPane{
  margin:0 20px;

  .form{
    height:600px;
    overflow-y: auto;
  }

  .jsonInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;

    .left{
      padding:10px;
      flex:300px;
      border:1px solid #eee;
    }

    .right{
      height:100%;
      flex:1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .rightTop{
        height:50%;
        padding:10px;
        flex:1;
        border:1px solid #eee;
        overflow-y: auto;
      }

      .rightBottom{
        height:50%;
        padding:10px;
        flex:1;
        border:1px solid #eee;
      }
    }
  }

  .configInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;

    .left{
      height:100%;
      flex:1;
    }

    .right{
      height:100%;
      flex:1;
    }
  }
}
